.client {
    &__actions {
        display: flex;   
        align-items: center;
        justify-content: center
    }

    &__add-action {
        margin: auto
    }
}


.autocomplete {
    position: absolute;
    background-color: white;
    z-index: 1;
}
