<div class="col">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <h2 class="">Client</h2>
      <div class="form-inline">
        <input type="text" class="form-control"
        *ngIf="!this.submitted"
        placeholder="Company name"
        id="name"
        name="name"
        required 
        [(ngModel)]="model.name"
        (keyup)=handleAutocompleteName($event) 
        autocomplete="off">

        <p class="" *ngIf="this.submitted">
          {{this.model.name}}
        </p>
      </div>
      <div class="autocomplete col-2">
        <ul *ngIf="suggestions.length > 0 && !submitted">
          <li *ngFor="let suggestion of suggestions" (click)=selectSuggestion(suggestion)>{{ suggestion }}</li>
        </ul>
      </div>
      <div class="form-inline">
        <input type="text" class="form-control"
        placeholder="Tax number"
        id="taxNumber"
        name="taxNumber"
        *ngIf="!this.submitted"
        required
        [(ngModel)]="model.taxNumber">
        <p class="" *ngIf="this.submitted">
            {{this.model.taxNumber}}
        </p>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid" *ngIf="!this.submitted">Submit</button>
      <button type="submit" class="btn btn-warning" [disabled]="!heroForm.form.valid" *ngIf="this.submitted" (click)="edit()">Edit</button>
    </form>
</div>

